@media (max-width: 767px) 
{ 
    /* body{
        /* background-image: url("img/icon.png"); */
        /* background-size: 30px 30px; */
        /* background-repeat: repeat; */
        /* background-color: rgb(112, 107, 105); */
    /* } */

    #bg-test{
        /* width: 100%; */
        /* min-height: 45em; */
        /* margin: auto; */
        /* margin-top: 10px; */

        background-image: url("img/icon.jpg");
        background-size: 150px 150px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    h1{
        /* background-color: rgba(0, 0, 255, 0.5); */
        color:rgb(0, 26, 255);
        position: relative;
        top: 190px;
        /* left: 20px; */
        right: 10px;
        text-align: right;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Verdana', cursive;
    }

    p{
        /* background-color: rgba(5, 0, 235, 0.5); */
        color:rgb(0, 26, 255);
        position: relative;
        top: 200px;
        left: 17px;
        text-align: left;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Verdana', cursive;
    }



}


@media (min-width: 768px) { 
    body{
        /* background-image: url("img/mainpic.png");
        background-repeat: repeat; */
        background-color: coral;
    }

    #bg-test{
        width: 80%;
        min-height: 65em;
        margin: auto;
        margin-top: 25px;

        background-image: url("img/mainpic.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    } 

    h1{
        /* background-color: rgba(0, 0, 255, 0.5); */
        color:rgb(0, 26, 255);
        position: absolute;
        top: 20%;
        left: 20%;
        text-align: right;
        font-size: 80px;
        font-weight: bold;
        font-family: 'Candara', cursive;
    }

    p{
        /* background-color: rgba(5, 0, 235, 0.5); */
        color:rgb(0, 26, 255);
        position: absolute;
        bottom: 20%;
        left: 17%;
        text-align: left;
        font-size: 72px;
        /* font-weight: bold; */
        font-family: 'Candara', cursive;
    }

} 